html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('exterior.jpg') no-repeat center center fixed;
}
::selection {
  background-color: #DDAB4C;
  color: white;
}
.parent-container {
  display: flex;
  height: 100vmax;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255,255,255,0.125); /* white filter */



  /*border: blue 1px solid; /* debug */
}
.parent-container-home {
  display: flex;
  margin: 5vmin;
  margin-bottom: 0; /* to fix bleeding at bottom */
  flex-direction: column;


  /*border: 1px red solid; /* debug */
}
  .upper-container-mobile {
    display: flex;
    justify-content: space-around;

    /*border: blue 1px solid; /* debug */
  }
  .header-container-desktop {
    display: none;  /* doesn't display on mobile */
  }

      .logo-container-mobile {
        display: inline-block;
        margin: 5vmax 5vmin; /* important */
        width: 25vmin;
        height: 25vmin;

        /*border: green 1px solid; /* debug */
      }
        #logo-small-mobile {
          display: inline-block;
          min-width: 64px;
          max-width: 15vmax;
        }
        #logo-mobile-homepage {
          min-width: 100px;
          max-width: 80vmin;
          margin-top: -25vmax;
          border-radius: 100%;
          background: rgba(255,255,255,.9);
        }

  /* copied from G-LVN */

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: rgba(221,171,76,0.9);
      overflow-x: hidden;
      z-index: 5;
      transition: all .35s;
    }
      .overlay__content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

      }
      .overlay a {  /* nav-links for mobile */
        padding: 2.75vmax;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Source Open Sans', sans-serif;
        display: block;
      }
        .overlay a:hover {
          color: #DDAB4C;
          background-color: white;
        }
      .overlay .closeBtn {
        position: absolute;
        top: 5vmax;
        right: 10vmin;
        font-size: 2rem;
      }
    .underlay {
      display: flex;
      height: 17.5vmax;
      /*border: red 1px solid; /* debug */
      align-items: center;
      justify-content: space-around;
    }
      .openBtn {
        padding: 3.75vmax;
        color: #DDAB4C;
        margin-top: 2.5vmax;
        border-radius: 100%;
        background: rgba(255,255,255,0.9);
      }
        .burger-top, .burger-mid, .burger-bottom {
          width: 5vmax;
          height: .5vmax;
          background: #DDAB4C;
          margin-top: 1vmax;
          box-shadow: 2.5px 2.5px 5vmin rgba(255,255,255,.9);
        }

  .mid-container-home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /*border: orange 1px solid; /* debug */

  }
    .mobile-home-pic {
      max-width: 100vmin;
    }
  .contact-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: red 1px solid; /* debug */
  }
    .heading-text {
      font-family: 'Source Serif Pro', serif;
      color: #DDAB4C;
      font-size: 4vmax;
      padding: 2.5vmin;
    }
    .map-box { /* contains map */
      margin: 1.25vmax;
      border: 0.125vmax #DDAB4C solid;
    }
    .content-text {
      text-align: center;
      font-size: 2.25vmax;
      font-family: 'Open Sans', sans-serif;
      margin: 1.25vmax;
      color: #DDAB4C;
      line-height: 1.6;
      max-width: 65vmin;
    }
  .footer-container-desktop { /* doesn't show up on mobile */
    display: none;
  }

  /* Vuth CSS */
  /*.vuth-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vmin;

  }
    .vuth-code:visited #icon {
      display: none;

    }
    .vuth-code:hover #icon {
      display: none;
    }
    .vuth-code:hover .mid-nav{
      display: block;
      margin: 2.5%;
      margin-top: 7.5vmax;
    }
  .bar1, .bar2, .bar3 {
    width: 13.5vmin;
    height: 0.65vmax;
    background-color: #DDAB4C;
    margin: 0.75vmax 0;
  }
    .mid-nav {
      margin: 12.5vmax 0px;
      width: 100vmin;
      display: none;
      animation-name: appear-nav;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;

    }
      @keyframes appear-nav {
        0% {padding-right: 100vmin;}

      }
    .mid-nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width:100%;
    }
    .mid-nav ul li {
      width:100%;
    }
    .mid-nav ul li a {
      display: block;
      color: #DDAB4C;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .mid-nav ul li a:hover {
      background-color: #DDAB4C;
      color: white;
    }
    .mid-nav a {
      padding: 1.5vmax;
      padding-top: 2.5vmax;
      font-family: 'Oxygen', sans-serif;
      font-size: 2rem;
    }
    */
  .mid-container-desktop {  /* doesn't show up on mobile */
    display: none;
  }

/* contacts */
