html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('exterior-blurred.jpg') center center fixed;
  background-size: cover;
}
::selection {
  background-color: #DDAB4C;
  color: white;
}
.parent-container {
  display: flex;
  height: 100vmax;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*background: rgba(255,255,255,.125); /* white filter to make body bg less significant */
  /*border: blue 1px solid; /* debug */
}
.parent-container-home {
  display: flex;
  margin: 5vmin;
  margin-bottom: 0; /* to fix bleeding at bottom */
  flex-direction: column;


  /*border: 1px red solid; /* debug */
}
  .upper-container-mobile {
    display: flex;
    justify-content: space-around;
    width: 90vmin;
    /*border: blue 1px solid; /* debug */
  }
  .header-container-desktop {
    display: none;  /* doesn't display on mobile */
  }

      .logo-container-mobile {
        display: inline-block;
        margin: 5vmax; /* important */
        width: 25vmin;
        height: 25vmin;
        /*border: green 1px solid; /* debug */
      }
        #logo-small-mobile {
          display: inline-block;
          min-width: 64px;
          max-width: 15vmax;
        }
        #logo-mobile-homepage {
          min-width: 100px;
          max-width: 80vmin;
          margin-top: -25vmax;

        }

  /* copied from G-LVN */

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background: rgba(221,171,76,0.9);
      overflow-x: hidden;
      z-index: 5;
      transition: all .35s;
    }
      .overlay__content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

      }
      .overlay a {  /* nav-links for mobile */
        padding: 2.75vmax;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Source Open Sans', sans-serif;
        display: block;
      }
        .overlay a:hover {
          color: #DDAB4C;
          background-color: white;
        }
      .overlay .closeBtn {
        position: absolute;
        top: 5vmax;
        right: 10vmin;
        font-size: 2rem;
      }
    .underlay {
      display: flex;
      height: 17.5vmax;
      /*border: red 1px solid; /* debug */
      align-items: center;
      justify-content: space-around;
    }
      .openBtn {
        padding: 3.75vmax;
        color: #DDAB4C;
        margin-top: 2.5vmax;
        background: rgba(255,255,255,.9);
        border-radius: 100%;
      }
        .burger-top, .burger-mid, .burger-bottom {
          width: 6.75vmax;
          height: .75vmax;
          background: #DDAB4C;
          margin: 1.25vmax;
          margin-left: .5vmax;
          margin-right: .5vmax;
          box-shadow: .5vmax .5vmax 1.75vmax white;

        }

  .mid-container-home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /*border: orange 1px solid; /* debug */

  }
    .mobile-home-pic {
      max-width: 100vmin;
    }

  .footer-container-desktop { /* doesn't show up on mobile */
    display: none;
  }
/* contacts */
.contact-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vmax;
  /*border: red 1px solid; /* debug */
}
  .heading-text {
    font-family: 'Source Serif Pro', serif;
    color: #DDAB4C;
    font-size: 4vmax;
    padding: 2.5vmin;
  }
  .map-box { /* contains map */
    margin: 1.25vmax;
    border: 0.125vmax #DDAB4C solid;
  }
  .content-text {
    text-align: center;
    font-size: 2.25vmax;
    font-family: 'Open Sans', sans-serif;
    margin: 1.25vmax;
    color: #DDAB4C;
    line-height: 1.6;
    max-width: 65vmin;
  }
