:root {
  /* fonts */
  --head: 'Source Serif Pro', serif;
  --subhead: 'Oxygen', sans-serif;
  --paragraph: 'Open Sans', sans-serif;
  /* colors */
  --britea-yellow: #DDAB4C;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
::selection {
  background-color: #DDAB4C;
  color: white;
}
.parent-container { /* belongs to desktop */
  display: none;
  /*background: rgba(255,255,255,.125); /* white filter to make body bg less significant */
  /*border: blue 1px solid; /* debug */
}
.parent-container-home {
  display: flex;
  margin: 5vmin;
  margin-bottom: 0; /* to fix bleeding at bottom */
  flex-direction: column;
  align-items: center;
  /*border: 1px red solid; /* debug */
}
  .upper-container-mobile {
    display: flex;
    justify-content: space-around;
    width: 90vmin;
    align-items: center;
    /*border: blue 1px solid; /* debug */
  }
  .header-container-desktop {
    display: none;  /* doesn't display on mobile */
  }

      .logo-container-mobile {
        display: inline-block;
        margin: 5vmax; /* important */
        width: 25vmin;
        height: 25vmin;
        /*border: green 1px solid; /* debug */
      }
        #logo-small-mobile {
          display: inline-block;
          min-width: 64px;
          max-width: 15vmax;
        }
        #logo-mobile-homepage {
          min-width: 100px;
          max-width: 75vmin;
          margin-top: -25vmax;

        }

  /* copied from G-LVN */

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background: rgba(221,171,76,0.9);
      overflow-x: hidden;
      z-index: 5;
      transition: all .35s;
    }
      .overlay__content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

      }
      .overlay a {  /* nav-links for mobile */
        padding: 2.75vmax;
        color: white;
        font-size: 3.75vmax;
        text-decoration: none;
        font-family: 'Source Open Sans', sans-serif;
        display: block;
      }
        .overlay a:hover {
          color: #DDAB4C;
          background-color: white;
        }
      .overlay .closeBtn {
        position: absolute;
        top: 10vmax;
        right: 10vmin;
        font-size: 3.75vmax;
      }
    .underlay {
      display: flex;
      height: 17.5vmax;
      /*border: red 1px solid; /* debug */
      align-items: center;
      justify-content: space-around;
    }
    .openBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #DDAB4C;
      background: rgba(255,255,255,.9);
      border-radius: 100%;
      min-width: 80px;
      min-height: 80px;
    }
      .burger-top, .burger-mid, .burger-bottom {

        min-width: 45px;
        min-height: 5px;

        background: #DDAB4C;
        box-shadow: .5vmax .5vmax 1.75vmax white;
        margin: 5px 0;
      }
      @media only screen and (min-width: 512px) {
        .openBtn {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #DDAB4C;
          background: rgba(255,255,255,.9);
          border-radius: 100%;
          min-width: 150px;
          min-height: 150px;
        }
        .burger-top, .burger-mid, .burger-bottom {

          min-width: 60px;
          min-height: 7.5px;

          background: #DDAB4C;
          box-shadow: .5vmax .5vmax 1.75vmax white;
          margin: 7.5px 0;
        }
      }
  .mid-container-home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /*border: orange 1px solid; /* debug */

  }
    .mobile-home-pic {
      max-width: 100vmin;
    }

  .footer-container-desktop { /* doesn't show up on mobile */
    display: none;
  }

/* smartphone mobile-home.html */
.contents-parent-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


    .content-head-text {

      text-align: left;
      font-family: 'Source Serif Pro', serif;
      font-size: 24px;
      color: var(--britea-yellow);
      border-bottom: .25vmin solid var(--britea-yellow);
      padding-bottom: 2.5vmin;
      margin-bottom: 1.25vmin;

    }
    .date-text {
      font-family: 'Oxygen', sans-serif;
      font-weight: lighter;
      font-size: 11px;
      letter-spacing: .125vmin;
    }
    .content-text {
      margin-top: 3.75vmax;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      word-spacing: 1.125px;
      line-height: 1.6;
    }
    .content-pic {
      margin-top: 3.75vmax;
      max-width: 80vmin;
      /*box-shadow: .75vmax .75vmax .25vmax rgba(0,0,0,.5);*/
    }



  .mid-container-desktop {  /* doesn't show up on mobile */
    display: none;
  }

/* menu smartphone */

.menu-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7.5vmax;
  /*border: 1px solid yellow; /* debug */
}
.menu-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid purple; /* debug */
}
  .heading-big {
    font-size: 4.25vmax;
    color: #DDAB4C;
    padding: .5vmax;
    margin-top: 2.75vmax;
    margin-bottom: 2.5vmax;
    border-bottom: 0.25vh solid #DDAB4C;
    font-family: 'Noto Serif', serif;
  }
  .heading-small {
    font-size: 3vmax;
    color: #DDAB4C;
    padding: 1.5vmax;
    padding-top: 4vmax;
    font-family: 'Source Serif Pro', serif;
  }

  .menu-container {
    display: flex;
    margin: 2.5vmax;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    -moz-box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    /*border: 1px blue solid; /* - */
    max-width: 75vmin;

    border: 0.125vmax solid #DDAB4C;
  }
    .menu-item {
      /*border: 1px red solid; /* debug */

    }
      .menu-pic {
        max-width: 65vw;
      }
      .desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(221,171,76,1);
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
      }
        .item-name {
          font-family: 'Source Serif Pro', serif;
          padding: 1.25vmax;
          padding-top: 2vmax;
          border-bottom: 0.125vh solid white;
          font-size: 3vmax;

        }
        .item-subname {
          font-family: 'Open Sans', sans-serif;
          padding: 0.5vmax;
          font-size: 2.25vmax;
        }
        .item-price {
          font-family: 'Open Sans';
          font-size: 3vmax;
          padding: 1vmax;
        }



/* contacts */
.contact-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vmax;
  /*border: red 1px solid; /* debug */
}
  .heading-text {
    font-family: 'Source Serif Pro', serif;
    color: #DDAB4C;
    font-size: 4vmax;
    padding: 2.5vmin;
  }
  .map-box-tablet { /* tablet map doesn't show on smartphone */
    display: none;

  }
  .map-box-smartphone { /* contains map smartphone */
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding: 2.5vmax;
    max-width: 85vmin;
    margin: 1.25vmax;
    border: 0.125vmax #DDAB4C solid;
  }
