html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #DDAB4C;
  color: white;
}
.parent-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  .header-container-desktop {
    display: none;  /* doesn't display on mobile */
  }
  .home-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    border-radius: 5vmax;
    max-height: 40vh;
  }
    #logo-mobile-homepage {
      min-width: 100px;
      max-width: 80vw;
      margin-top: -5vh;
    }
  .footer-container-desktop {
    display: none;
  }

  /* Vuth CSS */
  .vuth-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

  }
    .vuth-code:visited #icon {
      display: none;
    }
    .vuth-code:hover .mid-nav, .mid-nav a {
      display: block;
    }
  .bar1, .bar2, .bar3 {
    width: 13.5vw;
    height: 0.65vh;
    background-color: #DDAB4C;
    margin: 0.75vh 0;
    transition:0.4s;

  }
    .change .bar1 {
      opacity: 0;

    }
    .change .bar2 {
      opacity: 0;
    }
    .change .bar3 {
      opacity: 0;
    }
    .mid-nav {
      margin: 2.5vh 0px;
      width: 100vw;
      display: none;
      animation-name: appear-nav;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

    }
      @keyframes appear-nav {
        0% {padding-right: 50%;}
      }
    .mid-nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width:100%;
    }
    .mid-nav ul li {
      width:100%;
    }
    .mid-nav ul li a {
      display: block;
      color: #DDAB4C;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .mid-nav ul li a:hover {
      background-color: #DDAB4C;
      color:white;
    }
    .mid-nav a {
      padding: 1.5vh;
      font-family: 'Oxygen', sans-serif;
      font-size: 2rem;
    }
