:root {
  /* fonts */
  --head: 'Source Serif Pro', serif;
  --subhead: 'Oxygen', sans-serif;
  --paragraph: 'Open Sans', sans-serif;
  /* colors */
  --britea-yellow: #DDAB4C;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('exterior-blurred.jpg') center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

}
::selection {
  background-color: #DDAB4C;
  color: white;
}
.parent-container {
  display: flex;
  height: 100vmax;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*background: rgba(255,255,255,.125); /* white filter to make body bg less significant */
  /*border: blue 1px solid; /* debug */
}
.parent-container-home {
  display: flex;
  margin: 5vmin;
  margin-bottom: 0; /* to fix bleeding at bottom */
  flex-direction: column;
  align-items: center;

  /*border: 1px red solid; /* debug */
}
  .upper-container-mobile {
    display: flex;
    justify-content: space-around;
    width: 75vmax;
    /*border: blue 1px solid; /* debug */
  }
  .header-container-desktop {
    display: none;  /* doesn't display on mobile */
  }

      .logo-container-mobile {
        display: inline-block;
        margin: 5vmax; /* important */
        width: 25vmin;
        height: 25vmin;
        /*border: green 1px solid; /* debug */
      }
        #logo-small-mobile {
          display: inline-block;
          min-width: 64px;
          max-width: 15vmax;
        }
        #logo-mobile-homepage {
          min-width: 100px;
          max-width: 50vmin;
          margin-top: -25vmax;

        }

  /* copied from G-LVN */

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background: rgba(221,171,76,0.9);
      overflow-x: hidden;
      z-index: 5;
      transition: all .35s;
    }
      .overlay__content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

      }
      .overlay a {  /* nav-links for mobile */
        padding: 2.75vmax;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Source Open Sans', sans-serif;
        display: block;
      }
        .overlay a:hover {
          color: #DDAB4C;
          background-color: white;
        }
      .overlay .closeBtn {
        position: absolute;
        top: 5vmax;
        right: 10vmin;
        font-size: 2rem;
      }
    .underlay {
      display: flex;
      height: 17.5vmax;
      /*border: red 1px solid; /* debug */
      align-items: center;
      justify-content: space-around;
    }
      .openBtn {
        padding: 3vmax;
        margin-left: 0;
        color: #DDAB4C;
        margin-top: 2.25vmax;
        background: rgba(255,255,255,.9);
        border-radius: 100%;
      }
        .burger-top, .burger-mid, .burger-bottom {
          width: 6.5vmax;
          height: .5vmax;
          background: #DDAB4C;
          margin: 1.25vmax .5vmax;
          box-shadow: .5vmax .5vmax 1.75vmax white;

        }
  .mid-container-desktop {  /* doesn't show on tablet */
    display: none;

  }
  .mid-container-home {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /*border: orange 1px solid; /* debug */

  }
    .mobile-home-pic {
      max-width: 100vmin;
    }

  .footer-container-desktop { /* doesn't show up on mobile */
    display: none;
  }

/* menu tablet */
.menu-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid yellow; /* debug */
}
.menu-parent-container {
  display: flex;
  flex-direction: row;
  /*border: 1px solid purple; /* debug */
}
  #menu-foam-tea {  /* independent changes to this one required */
    margin-bottom: -.5vmax;
  }
  .heading-big {
    font-size: 2vmax;
    color: #DDAB4C;
    padding: .75vmax;
    padding-top: 12.5vmax;
    margin-bottom: 1.25vmax;
    border-bottom: 0.25vmin solid #DDAB4C;
    font-family: 'Noto Serif', serif;
    margin-top: -10vmax;
  }
  .heading-small {
    font-size: 1.5vmax;
    color: #DDAB4C;
    padding: 1vmax;
    padding-top: 2.5vmax;
    font-family: 'Source Serif Pro', serif;
  }
  .menu-container {
    display: flex;
    margin: 2.5vmin 1.25vmax;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    -moz-box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    box-shadow: 5px 10px 19px -10px rgba(0,0,0,0.71);
    /*border: 1px blue solid; /* debug */
    border: 0.125vmin solid #DDAB4C;
  }
    .menu-item {
      /*border: 1px red solid; /* debug */


    }
      .menu-pic {
        max-width: 12.5vmax;
        min-height: 12.5vmin;
        /*border: 1px grey solid; /* debug */
      }
      .desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(221,171,76,1);
        color: white;
        width: 100%;
        min-height: 50%;
        text-align: center;
      }
        .item-name {
          font-family: 'Source Serif Pro', serif;
          margin-top: 1.25vmin;
          padding: 1.5vmin;
          border-bottom: 0.125vmin solid white;
          font-size: 1.5vmax;
          max-width: 17.5vmax;
        }
        .item-subname {
          font-family: 'Open Sans', sans-serif;
          padding: 1vmin;
          font-size: 1.25vmax;
        }
        .item-price {
          font-family: 'Open Sans', sans-serif;
          font-size: 1.5vmax;
          font-weight: 600;
          padding: 1vmin;
          margin-bottom: 1.25vmin;
        }

/* contacts */
.contact-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vmin;
  /*border: red 1px solid; /* debug */
}
  .heading-text {
    font-family: 'Source Serif Pro', serif;
    color: #DDAB4C;
    font-size: 4vmax;
    padding: 2.5vmin;
  }
  .map-box-tablet { /* contains map tablet */
    padding: 2.5vmax;
    margin: 1.25vmax;
    border: 0.125vmax #DDAB4C solid;

  }
  .map-box-smartphone { /* smartphone map doesn't show up on tablet */
    display: none;
  }
  .content-text {
    text-align: center;
    font-size: 2.25vmax;
    font-family: 'Open Sans', sans-serif;
    margin: 1.25vmax;
    color: #DDAB4C;
    line-height: 1.6;
    max-width: 65vmin;
  }
