html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  max-width: 100vmax;
  background: url('rendered-shop-img.jpg') center center fixed;
  background-size: cover;
}
::selection {
  background-color: #DDAB4C;
  color: white;
}
/*
  font-family: 'Source Serif Pro', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  color: #DDAB4C;
*/
.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
  .header-container-desktop {
    display: flex;
    position: fixed;
    align-items: flex-end;
    justify-content: space-around;
    width: 100vmax;
    height: 22.5vmin;
    /*border: red 1px solid;*/
    border-bottom: 0.125vmin solid #DDAB4C;
    background: white;
    top: 0;
  }
    #logo {
      max-width: 7.5vmax;
      margin-bottom: 2.5vmin;
      margin-left: 7.5vmax;
    }
    .navbar {
      display: flex;
      margin-bottom: -1.25vmin;
      margin-right: 5vmax;
    }
      .option {
        font-family: 'Oxygen', serif;
        color: #DDAB4C;
        border: 0.125vmin #DDAB4C solid;
        background: rgba(255,255,255,0.9);
        font-size: 1.25vmax;
        letter-spacing: 0.125vmax;
        text-decoration: none;
        padding: 2.25vmax;
        padding-top: 1.25vmin;
        padding-bottom: 1.25vmin;
        margin-bottom: 5vmin;
        animation-name: nav-link;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        transition: .3s;
        border-radius: 2.5vmax;
        margin-left: 1.25vmax;
      }
        @keyframes nav-link {
          0% {padding-right: 0; padding-left: 0; font-size: 0.75vmax;}

        }
        .navbar .option:hover {
          background-color: #DDAB4C;
          color: white;
          transition: .3s;
        }
        .dropdown {
          display: flex;

        }
          .dropdown-content {
            display: none;
          }
          .dropdown:hover .dropdown-content {
            display: block;
            position: absolute;
            margin-top: 5.25vmin;
            margin-left: 1.75vmax;
            margin-top: 7vmin;
            z-index: 1;
          }
            .category {
              display: flex;
              justify-content: space-between;
              min-width: 7.5vmax;
              font-size: 1vmax;
              font-family: 'Source Serif Pro', serif;
              letter-spacing: 0.05vmax;
              padding: 1.25vmin 1.25vmax;
              cursor: pointer;
              color: #DDAB4C;
              background: rgba(255,255,255,0.9);
              text-decoration: none;
              border-bottom: #DDAB4C 0.125vmin solid;
              transition: .5s;
              animation-name: category;
              animation-duration: .5s;


            }
              @keyframes category {
                0% {margin-top: -15%;}
              }
              .category:hover {
                background: #DDAB4C;
                color: white;
                margin-top: 0.75vmin;
                margin-bottom: 0.75vmin;
              }
            ul {
              list-style-type: none;
            }
            .mid-container-desktop  {
              display: flex;
              justify-content: center;
              padding: 0;
              margin-top: 20vmin;
              width: 80vmax;
              /*border: 1px solid green; /* debug */


            }
            .banner-container {
              display: flex;

              /*border: 1px solid red; /* debug */
            }

              .image-banner {
                max-width: 50vmax;
                object-fit: contain;
                margin: 2.5vmax;


                box-shadow: .75vmax .75vmax .25vmax rgba(0,0,0,.5);
              }
              .slider-container {
                /*width: 35vmax;
                height: 26.25vmax;*/
                border: 0.125vmin solid #DDAB4C;
                overflow: hidden;

              }
                .front-image {
                  max-width: 35vmax;
                }
              .paragraph-container {
                max-width: 30vmax;
                height: 22.5vmax;
                padding: 2.5vmin;
                /*background-color: rgba(255,255,255,0.9);*/
                /*border: red 1px solid; /* debug */
                color: white;
                border-radius: 2.5vmax;
                /*border: #DDAB4C solid 0.125vmin;*/
              }
                .content-header {
                  font-family: 'Source Serif Pro', serif;
                  background: rgba(221,171,76,.9);
                  border: white 0.125vmin solid;
                  border-radius: 2.5vmin;
                  padding: 2.5vmin;
                }

    .footer-container-desktop {
      display: flex;
      position: absolute;
      bottom: -30vmin; /* debug */ /* subject to changes */
      width: 100vmax;
      align-items: flex-start;
      justify-content: center;
      border-top: 0.125vmin solid #DDAB4C;
      background: white;
      padding: 2.5vmin;
      padding-bottom: 0;
      min-height: 30vmin;
    }
      .left-box { /* contains map */
        margin: 1.25vmax;
        border: 0.125vmin #DDAB4C solid;
      }
      .mid-box {
        display: flex;
        flex-direction: column;
        padding: 1.5vmin 1.5vmax;
        margin: 1.25vmax;
        margin-left: 0;
        letter-spacing: 0.05vmax;
        max-width: 50vmax;
        color: #DDAB4C;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
        text-align: left;


      }
        .address {
          border-bottom: #DDAB4C solid 0.125vmin;
          padding: 1.25vmin 0;
        }
  .home-container-mobile {  /* doesn't show up on desktop */
      display: none;
    }

/* contact */
  .contact-box {
    display: flex;
    align-items: center;

    padding: 1.25vmin 0;
    margin-left: -0.75vmax;
  }
    #social-icon {
      max-width: 4.5vmax;
      padding: 0.75vmax;
    }
    .social-content {
      display: flex;
      text-decoration: none;
      color: #DDAB4C;
      align-items: center;
      justify-content: space-between;
    }
