.frame {
    width:200px;
    float:left;
    margin:5px;
    border:1px solid #DDAB4C;
}
.pic {
    width:100%;
}
.pic img {
    width:100%;
}
.desc {
    width:100%;
    text-align: center;
    font-family:Calibri;
}